.container {
  display: flex;
  height: 98vh;
}
.left {
  flex: 1;
  background-color: white;
}
.right {
  flex: 1;
  background-color: rgb(200, 215, 200);
  text-align: center; 
}
#img1{
    margin-top: 300px;
    margin-left: 250px;
    border-radius: 20px;
}
.login{
    display: grid;
    height: 100px;
    width: 330px;
    margin: 220px;
}
input{
   margin: 5px;
   padding: 20px;
   border-radius: 10px;
}